<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/searchstudent">
            <h3 class="center">SEARCH STUDENT</h3>
            <hr>
            <label for="phn"><b>Phone Number:</b></label>
            <input type="phone" placeholder="Type phone number to be searched" name="phone" id="phone" required>
            <button type="submit" class="registerbtn">SEARCH STUDENT</button>
            <a href="./" class="home">BACK TO HOME PAGE</a>
            <br>
            {{#if mesg1}}
            <h3>Data Found!</h3>
            {{/if}}

            {{#if mesg2}}
            <h3>Data is not found!</h3>
            {{/if}}
        </form>
    </div>
</body>
</html>