<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/updatesearch">
            <h3 class="center">UPDATE STUDENT</h3>
            <hr>
            <label for="phn"><b>Phone Number:</b></label>
            <input type="phone" placeholder="Type phone number to be searched" name="phone" id="phone" required>
            <button type="submit" class="registerbtn">SEARCH STUDENT</button>
            <a href="./" class="home">BACK TO HOME PAGE</a>
            <br>
            {{#if umesg}}
            <h3>Data Updated!</h3>
            {{/if}}
            {{#if mesg2}}
            <h3>Data Found!</h3>
            {{/if}}
        </form>
    </div>
    <!--Search form design end-->
    {{#if mesg1}}
            <div class="container">
        <form action="/updatestudent">
            <h3 class="center">UPDATE STUDENT</h3>
            <hr>
            {{#data}}
            <label for="name"><b>Student name:</b></label>
            <input type="text" placeholder="Enter name" name="name" value="{{name}}" id="name" required>

            <label for="phn"><b>Phone No:</b></label>
            <input type="phone" placeholder="Enter Phone Number" name="phone" value="{{phone}}" id="phone" required readonly>

            <label for="eml-id"><b>Email id:</b></label>
            <input type="email" placeholder="Enter email id" value="{{email}}" name="email" id="email" required readonly>

            <div class="gender_g">
                <strong>Gender</strong>
                <input type="radio" name="gender" id="" value="Male">Male
                <input type="radio" name="gender" id="" value="Female">Female

            </div>
            <button type="submit" class="registerbtn">UPDATE STUDENT</button>
            {{/data}}
            <a href="./" class="home">BACK TO HOME PAGE</a><br>

            
        </form>
    </div>
    {{/if}}
</body>
</html>